body {
	min-height: 100%;
	margin: 1em 0;
	background: #eee;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}

nav ul,
h1 {
    margin: 0;
}

h1 { 
    font-size: 20pt; 
}

body > header > h1 { margin: 20px 0 0 10px; }

nav {
    background-color: var(--nav-background);
    border-bottom: 10px solid var(--nav-active-background);
}

nav ul { 
    padding: 0;
}
nav > ul { padding-inline-start: 10px; }
nav ul > li { display: inline-block; }

nav li > a {
    display: block;
    padding: 15px;

    color: var(--nav-color);
    text-decoration: none;
}

nav li:hover, nav li:hover > ul  {
    background-color: var(--nav-hover-background);
}

nav li:hover a {
    color: var(--nav-hover-color);
}

nav li:hover > ul, li:hover > ul > li {
    display: block;
}

nav li:active, nav li.current,
nav li:hover > ul > li:hover {
    background-color: var(--nav-active-background);
}

nav li:active, nav li.current,
nav li:active > a, nav li.current > a {
    color: var(--secondary-text-color);
}

nav li > ul {
    display: none;
    position: absolute;
}

a {
	opacity: .9;
	color: #32A1CC;
	text-decoration: none;
}

a:hover {
	opacity: 1;
	border-bottom: 1px dashed;
}

.site-wrapper {
	/* Estático, es un ejemplo */
	width: 90%;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.5);

}
/* Clearfix */
.content-wrapper:before,
.content-wrapper:after {
	content: "";
	display: table;
} 
.content-wrapper:after {
	clear: both;
}
.content-wrapper {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* Distribución entre la columna central y la lateral*/
.sidebar,
.content {
	float: left;
}

.content {
	width: 600px;
	margin-right: 60px;
}

.sidebar {
	width: 300px;
}
.site-footer {
	clear: both;
}

/* El título */
.site-title {
	text-align: center;
	line-height: 2;
	margin: 0;
}
.description {
	display: none;
}
.site-header {
	border-bottom: 1px dashed #aaa;
	margin-bottom: 1em;
}

/* Algunos detallitos para el post */
.post-outer {
	padding: 0 1em;
}

/* Y para los títulos de la sidebar y el footer */
.widget .title {
	color: #666;
}
.sidebar .title {
	border-left: 3px solid #aaa;
	padding-left: 8px;
}

.site-footer {
	margin-top: 1.5em;
}
.site-footer .title {
	border-top: 3px solid #aaa;
	padding-top: 8px;
}

.site-footer .title,
.site-footer .widget {
	text-align: center;
}
/* Comentarios */
.comments ol {
	padding: 0;
}
.comment-content {
	padding-left: 40px; /* 30px de imagen + 10px de margin-right */
}
.comment-header {
	/* Alinear al medio con la imangen */
	line-height: 30px;
}
.avatar-image-container img {
	/* Reducir la imagen y separarla 10px a la derecha */
	width: 30px;
	margin-right: 10px;
}
.avatar-image-container {
	float: left;
}