{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Titule: <span>{% book.titulo %}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Editorial: <span>{% book.editorial %}</span></p>
        </div>
        <div class="col-md-6">
            <p>Genero: <span>{% book.genero %}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Autor: <span>{% book.autor %}</span></p>
        </div>
        <div class="col-md-2">
            <p>A&ntilde;o: <span>{% book.year %}</span></p>
        </div>
        <div class="col-md-2">
            <p>Pais: <span>{% book.pais %}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Num paginas: <span>{% book.nPaginas %}</span></p>
        </div>
        <div class="col-md-6">
            <p>Precio: <span>{% book.precio %}</span></p>
        </div>
    </div>
</div>
{% endblock %}