{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Libro prestado: <span>{% book.titulo %}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Usuario al que se le ha prestado: <span>{% user.nombre %}{% user.apellidos %}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Fecha de devoluci&oacute;n: <span>{% prestamo.returnDate %}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>Fecha en la que se presto el libro: <span>{% prestamo.completionDate %}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>Fecha maxima de devoluci&oacute;n: <span>{% prestamo.maxDelayDate %}</span></p>
        </div>
    </div>
</div>
{% endblock %}