{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Nombre completo: <span>{% user.nombre %} {% user.apellidos %}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>DNI: <span>{% user.dni %}</span></p>
        </div>
        <div class="col-md-4">
            <p>Facha de nacimiento: <span>{% user.birthday %}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Direcci&oacute;n: <span>{% user.provincia %}, {% user.poblacion %}, {% user.domicilio %}</span></p>
        </div>
    </div>
    <div class="row">
        {% for prestamo in user.prestamos %}
            <div class="col-md-12">
                <p>Libro prestado: <span>{% books[prestamo.libro_id].titulo %}</span></p>
                <p>Fecha de devoluci&oacute;n: <span>{% prestamo.returnDate %}</span></p>
                <p>Fecha en la que se presto el libro: <span>{% prestamo.completionDate %}</span></p>
                <p>Fecha maxima de devoluci&oacute;n: <span>{% prestamo.maxDelayDate %}</span></p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}