<IfModule mod_env.c>
    SetEnv APP_BASE_URL http://localhost/DWES/2Trimestre/Unit-8/project/RequestApp
</IfModule>
<IfModule mod_rewrite.c>
    # Activar mod_rewrite  
    RewriteEngine on
    ErrorDocument 404 %{ENV:APP_BASE_URL}/public/error.php

    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    RewriteRule ^(.*)/(.*) ./index.php?controller=$1&action=$2
    RewriteRule ^public/(.*) ./index.php?moveTo=$1
</IfModule>